body{
	width:auto;
	height:auto;
	background:grey;
	font-family:hobo std;
	margin:0px;  
}

.header{
	width: auto;
	height: 130px;
	margin-bottom: 10px;
	background: orange;
	margin-left: 300px;
	border-top-left-radius:50px;
	border-bottom-left-radius:50px;
	text-align: center;
	margin-top: 10px;  
}

.navigasi{
	width: 500px;
	height: 50px;
	margin-top:0px; 
	background: orange;
	border-top:5px solid black;
	border-bottom:5px solid black;
	border-left:5px solid black;
	border-right:5px solid black;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	float: right;
}

.navigasi ul{
	list-style: none;
	padding:0px;
	margin:0px;
	
}

.navigasi ul li{
	float: left;
	padding: 20px;
	border-spacing: 20px;
}
.badan{
	width: 1000px;
	height: 900px;
	background-color: orange;
	border: 7px solid black;
	margin-top: 100px;
	margin-left: 20px;
}

input[type=text]{
 width: 96%;
 height: 25px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #53bd84;
 font-size: 16px;
}
 
input[type=password]{
 width: 96%;
 height: 25px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #53bd84;
 font-size: 16px;
}